<!DOCTYPE html>
<html>
  <head>
    <title>Money Matters</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-expand-xl navbar-light bg-white fixed-top mb-5 border-bottom shadow-sm">
      <a class="navbar-brand" href="/" style = "font-size: 25px;"><img src="images/logo.png" alt="Can't load logo"></a>

      <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style = "font-size: 18px">
        <div class="navbar-nav">
          <a class="nav-link text-nowrap" href="/banking">Banking</a>
          <a class="nav-link text-nowrap" href="/creditCards">Credit Cards</a>
          <a class="nav-link text-nowrap" href="/creditScore">Credit Score</a>
          <a class="nav-link text-nowrap" href="/renting">Renting</a>
          <a class="nav-link text-nowrap" href="/insurance">Insurance</a>
          <a class="nav-link text-nowrap" href="/buyingACar">Buying a Car</a>
          <a class="nav-link text-nowrap" href="/saving">Saving</a>
          <a class="nav-link text-nowrap" href="/buyingAHouse">Buying A House</a>
          <a class="nav-link text-nowrap" href="/taxes">Taxes</a>


        </div>
      </div>

      <div class = "pull-right"id="onlyOnLarge">
         <a href="/subscribe" class="btn btn-md bg-gold active" >Subscribe</a>
      </div>
    </nav> 