<%- include('includes/header') %>


<div class="jumbotron jumbotron-fluid bg-white">
    <div class="container pb-5">
      <h1 class="display-4 text-center">About Us</h1>
      <p class="lead">
       I created the schools-out project because when I graduated highschool I found myself at a loss
       for what to do next. I was missing key information that would have helped me later on financially. A few years as an 
       insurance agent, banker, small business owner and educator has given me the means to teach others what I've learned along 
       the way. 
      </p>
    </div>
  </div>

  <div class = pb-5></div>
  <div class = pb-4></div>
 


    

  




  <%- include('includes/footer')%>