<%- include('includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4">

            <h1> Buying A House</h1>
            <p class = "lead"> by Alex Espinoza</p>

            <hr>

            <p>Posted on August 29, 2020</p>

            <hr>

            <img class="img-fluid rounded" src="https://www.gannett-cdn.com/-mm-/9e1f6e2ee20f44aa1f3be4f71e9f3e52b6ae2c7e/c=0-110-2121-1303/local/-/media/2020/03/12/USATODAY/usatsports/getty-home-with-for-sale-sign.jpg?width=2121&height=1193&fit=crop&format=pjpg&auto=webp" alt="">

            <hr>

           

            <p>
            <h4><a class = "anchor" id = "process"></a>The Buying Process</h4>
            Now that you've decided to take the plunge, let's explore what you can expect from the homebuying process itself. 
            This can be a chaotic time with offers and counteroffers flying furiously, but if you are prepared for the hassle 
            (and the paperwork), you can get through the process with your sanity intact. Here is the basic progression you can expect:
            </p>
            

            <h4><a class = "anchor" id = "find"></a>Find A Home</h4>
            <p>
              Make sure to take advantage of all the available options for finding homes on the market, including using your real estate agent, 
              searching for listings online, and driving around the neighborhoods that interest you in search of for-sale signs. Put some feelers 
              out with your friends, family, and business contacts, too. You never know where a good reference or lead on a home might come from.
              Once you're seriously shopping for a home, don't walk into an open house without having an agent (or at least being prepared to throw
              out the name of someone you're supposedly working with). You can see how it might not work in your best interest to start dealing with 
              a seller's agent before contacting one of your own. If you're on a budget, look for homes whose full potential has yet to be realized. 
              Even if you can't afford to replace the hideous wallpaper in the bathroom now, you may be willing to live with it for a while in exchange 
              for getting into a place you can afford. If the home meets your needs in terms of the big things that are difficult to change, such as location 
              and size, don't let physical imperfections turn you away. First-time homebuyers should look for a house they can add value to, as this ensures 
              a bump in equity to help them up the property ladder.

            </p>


            <h4><a class = "anchor" id = "consider"></a>Consider Your Financing Options</h4>
            <p>
              First-time homebuyers have a wide variety of options to help them get into a home—both those available to any purchaser, 
              including Federal Housing Authority (FHA)-backed mortgages, and those geared especially to novices. Many first-time homebuyer 
              programs offer minimum down payments as low as 3% to 5% (vs. the standard 20%), and a few require no down payment at all.
              Don’t be bound by loyalty to your current financial institution when seeking a preapproval or searching for a mortgage: Shop around, 
              even if you only qualify for one type of loan. Fees can be surprisingly varied. An FHA loan, for example, may have different fees 
              depending on whether you’re applying for the loan through a local bank, credit union, mortgage banker, large bank, or mortgage broker. 
              Mortgage interest rates, which of course have a major impact on the total price you pay for your home, can also vary. Once you've settled 
              on a lender and applied, the lender will verify all of the financial information provided (checking credit scores, verifying employment information, 
              calculating DTIs, etc.). The lender can preapprove the borrower for a certain amount. Be aware that even if you have been preapproved for a mortgage,
              your loan can fall through at the last minute if you do something to alter your credit score, such as finance a car purchase.
              Some authorities also recommend having a back-up lender. Qualifying for a loan isn’t a guarantee your loan will eventually be funded: Underwriting 
              guidelines can shift, lender risk-analysis can change, and investor markets can alter. Clients may sign loan and escrow documents, and then be notified 
              24 to 48 hours before the closing that the lender has frozen funding on their loan program. Having a second lender that has already qualified you for a 
              mortgage gives you an alternate way to keep the process on, or close to, schedule.
    
            </p>
            <h4><a class = "anchor" id = "offer"></a>Make an Offer</h4>
            <p>
              Your real estate agent will help you decide how much money you want to offer for the house, along with any conditions you want to ask for. Your agent will 
              then present the offer to the seller's agent; the seller will either accept your offer or issue a counteroffer. You can then accept, or continue to go back 
              and forth until you either reach a deal or decide to call it quits. Before submitting your offer, take another look at your budget. This time, factor in estimated 
              closing costs (which can total anywhere from 2% to 5% of the purchase price), commuting costs, and any immediate repairs and mandatory appliances you may need before 
              you can move in. Think ahead: It's easy to be ambushed by higher or unexpected utilities and other costs if you are moving from a rental to a larger home. You might 
              request energy bills from the past 12 months, for example, to get an idea of average monthly costs. When you review your budget, don’t overlook hidden costs, such as 
              the home inspection, home insurance, property taxes, and homeowners association fees. If you reach an agreement, you'll make a good-faith deposit and the process then 
              transitions into escrow. Escrow is a short period of time (often about 30 days) during which the seller takes the house off the market with the contractual expectation 
              that you will buy it—provided you don't find any serious problems with it when you inspect it.
            </p>
            <p>
              Even if the home you plan to purchase appears to be flawless, there's no substitute for having a trained professional do a home inspection of the property for the quality, 
              safety, and overall condition of your potential new home. You don't want to get stuck with a money pit or with the headache of performing a lot of unexpected repairs. If the 
              home inspection reveals serious defects that the seller did not disclose, you'll generally be able to rescind your offer and get your deposit back. Alternatively, you can negotiate 
              to have the seller make the repairs or discount the selling price.




            </p>

            <h4><a class ="anchor" id = "close"></a>Close or Move On</h4>
            <p>
              If you're able to work out a deal with the seller, or better yet, if the inspection didn't reveal any significant problems, you should be ready to close. Closing basically involves 
              signing a ton of paperwork in a very short time period, while praying that nothing falls through at the last minute. Things you'll be dealing with and paying for in the final stages 
              of your purchase may include having the home appraised (mortgage companies require this to protect their interest in the house), doing a title search to make sure that no one other 
              than the seller has a claim to the property, obtaining private mortgage insurance or a piggyback loan if your down payment is less than 20%, and completing mortgage paperwork. Other 
              closing costs can include loan-origination fees, title insurance, surveys, taxes, and credit-report charges.
            </p>
 

           
        

                

            

            </div>
         
            

                
            
            



        

        <div class="col-md-4 d-none d-lg-block">
            <div class="card my-4 fixed">
                <h5 class="card-header">Table of Contents</h5>
                <div class="card-body">
                
                <ul>
                    <li><a href = "#process">What is the process?</a></li>
                    <li><a href = "#find">Find a home</a></li>
                    <li><a href = "#consider">Consider your financing options</a></li>
                    <li><a href = "#offer">Make an offer</a></li>
                    <li><a href = "#close">Close or move on</a></li>
                 


                </ul>
                </div>
              </div>

        </div>

    </div>



</div>





<%- include('includes/footer')%>