<%- include('includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4">

            <h1>Buying a car</h1>
            <p class = "lead"> by Constance Callaway</p>

            <hr>

            <p>Posted on August 29, 2020</p>

            <hr>

            <img class="img-fluid rounded" src="https://pictures.dealer.com/v/visiondodgecllc/0315/304b25671514afe4399e03d4b9fcb7b8x.jpg" alt="">

            <hr>

            

            <p>
                <h4><a class = "anchor" id ="preapproved"></a> Get preapproved for the loan</h4>
                A preapproved auto loan starts you out on the right foot. You get an idea of how much you can afford, and you'll have an interest rate 
                that you can then compare to the dealership's financing, which might actually offer the lowest annual percentage rate. Look for a loan 
                application on the mobile web pages of your bank, credit union, or other lenders such as Capital One or Nationwide. It's a good idea to 
                do your own research on which lender will work best for you. As you plan your financing, Edmunds recommends a loan term that's no longer 
                than 60 months. While a 20% down payment is ideal, it's also difficult for most people to handle. So Edmunds recommends combining a down 
                payment of around 10% with gap insurance or new-car replacement insurance coverage. That lets you keep more money in your pocket without 
                the risk of being underwater on your car loan. To begin the loan approval process for your car purchase, have at hand your employer and 
                salary information and balances of other debt you may have. Make sure you will be ready to shop within about two weeks of seeking preapproval. 
                This strategy will reduce the number of hard inquiries to your credit history.
            </p>


         
            <p>
                <h4><a class = "anchor" id = "locate"></a> Locate and test drive car </h4> 
                By now, you've settled on a few car candidates. You should see them in person before making a decision. Hundreds of car dealerships throughout the 
                country list their car inventories on Edmunds. And in many cases, you can sort by color, trim level and features. It's a better way to shop than 
                configuring a car on the automaker's website and hoping you will find one with that set of options in the real world. All the listings you'll find 
                on Edmunds pages are real cars with a variety of options. Most will have a locked-in price that should be comparable to what others are paying.
                If you follow the steps below with Edmunds, a salesperson from the dealership will contact you to schedule a test drive. If you found the vehicle 
                on another site, call the dealership's internet sales department to request more information. In either case, keep these do's and don'ts in mind:
                Do verify that the car you want is still in stock. It might have been sold recently, and online inventories can take a while to catch up.
                Do ask the salesperson if there are any dealer-installed options. Many new vehicles are sold with add-ons such as nitrogen in the tires, 
                all-weather floor mats or theft protection packages. These can easily add $1,000 to the sale price. Don't just show up at the dealer on a busy 
                weekend or late at night. Waits may be long, and you may not get the salesperson's full attention. Do schedule an appointment for a test drive. 
                Early in the week and in the morning are good times. Having an appointment means the car will be waiting for you when you arrive. Don't just drive 
                around the block. Take the time to see how you and your family fit in the car and how it handles on a variety of roads. Do ask yourself the following 
                questions: Are the controls easy to use? Is there enough cargo space? Will a child seat fit? (Bring it with you and test it.) Don't feel obligated to 
                buy the car the same day. Feel free to take a night to think it over.

            </p>
            <p>
                <h4><a class = "anchor" id = "review"></a> Review the deal</h4>
                Now that you have a price quote for the car, your big question is probably whether it's competitive. Edmunds uses the term "Average Price Paid" — also known 
                as Edmunds TMV — as the measure. It's the amount that others are paying in your area for a similarly equipped car. Keep in mind that an average price paid 
                is exactly that. Some people have paid more, and others paid less. Some shoppers are only happy if they negotiate their way to a rock-bottom price. But for 
                most shoppers, that usually isn't worth the hassle and frustration. If your price quote is above the average, it's not necessarily a reason to walk away from 
                a deal. Here's why: A car's price isn't the only factor that determines a good car deal. You also should look at the interest rate, the loan term, and the value 
                of your trade-in if that's part of your deal. There are even some intangibles, such as how the salesperson and the dealership treat you and the time you save in 
                the shopping process. Those are all factors in a good deal. In fact, at this point in the process, you may be able to improve parts of it. In Step 2, you got 
                preapproved for financing. Now that you're close to purchase, there's a chance that you can get a better interest rate at the dealership. To see if that's possible, 
                let the dealership run a credit report and assess your interest rate. Or if you know your credit score, tell the finance manager what it is and the rate for which 
                you'd qualify. You can give your information to the finance manager over the phone. Some dealerships have credit applications on their websites, and you can fill one out. 
                If the interest rate is lower than the one in your preapproved loan, go for it. If not, you already have a good loan locked in.
            </p>

            <p>
              <h4><a class = "anchor" id = "close"></a>Close the deal</h4>
              If the price, financing and fees look right, it's time to say yes to the deal. From here, you can proceed in one of two ways: Buy at the dealership or have the car and paperwork 
              delivered to your home. Most people tend to wrap up the sale at the dealership. Once you've agreed on a price, the salesperson will take you to the finance and insurance office. 
              Here, you'll sign the contract and purchase any of the additional products we discussed earlier, such as an extended warranty. The alternative is to make the sale contingent on 
              having your new car delivered to your home or office. Doing so is a great time-saver and allows you to close the deal in a relaxed environment. If you do request home delivery, 
              even if the sale is contingent on it, you'll get more cooperation if you'll agree to receive the car at home during a slow time at the dealership (think Mondays). Wherever you 
              finalize the deal, review the contract carefully and make sure the numbers match the out-the-door breakdown. Be sure there are no additional charges or fees. A good finance manager
              will explain each form and what it means. Don't hurry. Buying a car is a serious commitment. And remember: There is no cooling-off period. Once you sign the contract, the car is yours.
          </p>

                
            
            



        </div>

        <div class="col-md-4 d-none d-lg-block">
            <div class="card my-4 fixed">
                <h5 class="card-header">Table of Contents</h5>
                <div class="card-body">
                 
                <ul>
                  <li><a href="#preapproved">Get approved for the loan</a> </li>
                  <li><a href="#locate">Locate and test drive your car</a></li>
                  <li><a href="#review">Review the deal</a> </li>
                  <li><a href="#close">Close the deal</a> </li>


                </ul>
                </div>
              </div>

        </div>

    </div>



</div>





<%- include('includes/footer')%>