<%- include('includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4">

            <h1>Watching Your Credit Score</h1>
            <p class = "lead"> by Oscar Agustince</p>

            <hr>

            <p>Posted on August 29, 2020</p>

            <hr>

            <img class="img-fluid rounded" src="https://millionmilesecrets.com/wp-content/uploads/Credit-Score-Increase.png" alt="">

            <hr>

            

            <p>
                <h4><a class = "anchor" id ="whatCredit"></a> What is a credit score?</h4>
                Credit scores are created by taking information from credit reports and analyzing that data to forecast 
                how someone is likely to behave in the future. By looking at factors like how much debt consumers carry, 
                and whether they have paid their bills on time in the past, for example, they help predict whether someone 
                might pay a new bill on time or how they will handle a credit line increase.
            </p>


         
            <p>
                <h4><a class = "anchor" id = "create"></a> Who creates credit scores? </h4> 
                Most credit scores used by lenders and insurance companies today are created by FICO or VantageScore using credit 
                information from the three major credit reporting agencies – Equifax, Experian and TransUnion.

            </p>
            <p>
                <h4><a class = "anchor" id = "more"></a> Why do I have more than one score?</h4>
                It’s important not to get too hung up on a single number because, in fact, there are dozens of different credit 
                scores that could be created right now using information from your credit reports. One reason for this is that 
                the credit reporting agencies each collect and report information independently and they may not have the same 
                credit information about you. For example, a collection account may show up on one credit report and not another.
                Another reason your scores can be different is that there are many different credit scores available. Some are used 
                to predict different things; credit-based insurance scores, for example, are used to predict how likely consumers are 
                to file insurance claims, and so they may differ from scores used to predict how someone will manage a higher credit card limit.
                In addition, lenders might customize scores to help them better manage their own accounts. That means that even a FICO score
                based on Experian credit report information, for example, could vary from one lender to the next.
                Finally, some scores are “educational” scores and they have been created strictly to educate consumers about their credit
            </p>

            <p>
              <h4><a class = "anchor" id = "good"></a> What is a good credit score?</h4>
              It depends! Each lender decides how to use these numbers. But here are some basic guidelines:

              760 – 850: Excellent
              700 – 749: Average – very good
              650 – 699: Fair
              600 – 649: Poor
              Below 599: Bad

              A great way to understand your credit score is to use Credit.com’s free Credit Report Card. You’ll get your VantageScore and an Experian score, along with letter grades that will help you understand how you’re doing in each of the major areas that make up your score, such as payment history and debt.
          </p>

                
            
            



        </div>

        <div class="col-md-4 d-none d-lg-block">
            <div class="card my-4 fixed">
                <h5 class="card-header">Table of Contents</h5>
                <div class="card-body">
                 
                <ul>
                  <li><a href="#whatCredit">What is a credit score?</a> </li>
                  <li><a href="#create">Why creates credit scores?</a></li>
                  <li><a href="#more">Why do I have more than one score?</a> </li>
                  <li><a href="#good">Why do I have more than one score?</a> </li>


                </ul>
                </div>
              </div>

        </div>

    </div>



</div>





<%- include('includes/footer')%>