<%- include('includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4">

            <h1>Credit Cards</h1>
            <p class = "lead"> by David Gomez</p>

            <hr>

            <p>Posted on August 29, 2020</p>

            <hr>

            <img class="img-fluid rounded" src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Credit-cards.jpg" alt="">

            <hr>

           

            <p>
            <h4><a class = "anchor" id = "what"></a>What is a credit card?</h4>
            Credit cards are far more than pieces of plastic connected to an account that provides 
            an easy way out when you’re short on cash. Lewis Smith, the vice president of finance at Bayport Credit Union, 
            insists that credit cards are a teaching experience. Like guardrails on the street, using and monitoring your 
            card will keep you on the road to financial triumph if you’re responsible enough to handle it.
            </p>
            <p>
            A credit card contains a magnetic strip on the back, with your account number, name, and expiration date on the front.
            Beyond that, it allows you to use the bank’s money instead of your own to pay for items when you’re in a bind.
            Though it bails you out at the register, you still have to pay back the bank over time, or you could be charged 
            late fees and interest. It’s not your money, and you have to return it at some point
            </p>

            <h4><a class = "anchor" id = "how"></a>How to use a credit card</h4>
            <p>
              Using a credit card in literal terms is pretty easy, just insert into a card machine, swipe or tap, and you’re good to go. 
              But it’s a bit more intricate than that.Credit cards have limits, whether it’s $500, $1,000, or more. And they offer you a 
              fair share of student benefits, whether it’s American Express or other notable banks. When using a credit card, you have to
              spend within those limits.Pay off your credit card bills before they are due if you can. This creates a good reputation with 
              your bank and the companies you purchase goods from. An excellent reputation and line of credit can help you get discounts, make 
              you eligible for better interest rates, and improves your chances of making dream purchases.Your first car, getting an apartment 
              or house, being able to travel across the world—all these things become more realistic once you maintain good credit

            </p>


            <h4><a class = "anchor" id = "statements"></a>Statements</h4>
            <p>
              Every month, you get a credit card statement that shows all your spending for that specific period. From there, you have a grace
              period to pay the due amount in full or make a minimum payment. If you pay the bill in full, you won’t incur any interest charges 
              or late fees. However, if you only make a minimum payment (usually one percent of the total balance or the total interest), you 
              will carry the balance over to the next month and also be charged interest.It’s vital that you keep receipts of all your purchases 
              so that you can ensure nothing on your credit card looks unfamiliar. If something looks off, call your bank as soon as possible.

            </p>
            <h4><a class = "anchor" id = "benefits"></a>Benefits of using a credit card</h4>
            <p>
              Credit cards are a great way to help you organize your expenses and keep them at a premium as well. If you’re not a math major 
              and don’t have the time to enter your expenses in a book, your credit card keeps a record of all your purchases. It provides a 
              mirror of sorts to your spending habits, and if you don’t like how those habits reflect on you, it’s time to change your approach 
              to money.But what benefits are there to having a credit card? After all, it’s not your money, and borrowing money can be an 
              uncomfortable feeling. But these cards and the banks they’re attached to are there to lend a helping hand. They offer top-of-the-line 
              security which prevents you from being a victim of fraud or identity theft.
            </p>
            <p>
              Many purchases also require a credit card. For example, 
              credit cards are best suited for online shopping, booking flights, and they are ideal for travelers because they can be used in most 
              countries.Plus, you can gets rewards. You like freebies, don’t you? By building a good credit score, you can get low introductory rates, 
              air miles, and cash back for various things. Who said hard work doesn’t pay off? Some student credit cards also offer perks for students
               who maintain good grades.Furthermore, you can get warranties or purchase protection in case something happens to an item through your 
               credit card.




            </p>

            <h4><a class ="anchor" id = "dangers"></a>Dangers of using a credit card</h4>
            <p>
              Credit cards can make paying for things easy, almost too easy. It’s a convenient cash replacement, but it can make you think that you can 
              pay for anything without consequence. That sort of thinking can lead you down a dangerous road, one that involves debt and maybe having to 
              ask your parents to try and cover for you. Not a good feeling, is it? At least with cash, you can’t spend more than you have. You know your 
              limits as soon as you look in your wallet. With a credit card, you can be under the illusion that there’s no limit to your spending. While your 
              bank will give you pointers on how to use your card, they won’t necessarily stop you from passing your limit. In some cases, banks will approve 
              your transaction just so that they can charge you late fees. This can lead to bad credit. Bad credit means you won’t get approved for major purchases 
              and could cause you to pay more for a product that you otherwise would. 
            </p>
            <p>

              Frank Holmes, the chief executive and chief investment officer at U.S. Global 
              Investors, warns that credit cards can be very dangerous for teens with student loans. If you’re going to get a card, ensure you can pay it off. But, 
              if you can’t trust yourself or don’t make the income to help you make payments, steer clear.If you’re 18 or 19, you have a wide range of options so you 
              can qualify for a credit card. Most banks will approve you as long as you’re making money. But, if you’re a student without an income or credit history, 
              you can still become eligible for a credit card.If you’re under 18, your choices are limited. You can still gain access to a credit card but will have to 
              sign up as an authorized user on your parent’s or guardian’s credit card. Your parent/guardian can make a request to their bank to add you to their account. 
              Be careful though. Any purchases you make on that credit card will affect you and your fellow card holder.You can also get a secured credit card, which is like 
              a regular credit card but requires a security deposit against its credit limit.



            </p>

           
        

                

            

            </div>
         
            

                
            
            



        

        <div class="col-md-4 d-none d-lg-block">
            <div class="card my-4 fixed">
                <h5 class="card-header">Table of Contents</h5>
                <div class="card-body">
                
                <ul>
                    <li><a href = "#what">What is a credit card?</a></li>
                    <li><a href = "#how">How to use a credit card</a></li>
                    <li><a href = "#statements">Statements</a></li>
                    <li><a href = "#benefits">Benefits of a credit card</a></li>
                    <li><a href = "#dangers">Dangers of a credit card</a></li>
                 


                </ul>
                </div>
              </div>

        </div>

    </div>



</div>





<%- include('includes/footer')%>