<%- include('includes/header') %>


<div class="jumbotron jumbotron-fluid bg-white">
    <div class="container text-center">
       <h1 class="display-4 text-center abril">Money Matters</h1> 

      <p class ="lead opensans">
        Welcome to the Money Matters project. This website is for those who
        have found themselves entering into the real world but never learned
        about finances in school. Just click one of the basics below to get started.
      </p>
    </div>
  </div>

    <div class = "container">
      
        <div class="row">
            <div class="col-4">
              <a href = "/banking" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/payment.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                  Banking
                </p>
              </a>  

              <a href = "/renting" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/rent.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                  Renting
                </p> 
              </a>

              <a href = "/saving" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/invest.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                  Saving/Investing
                </p> 
              </a>

            </div>

            <div class="col-4">
              <a href = "/creditCards" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/card.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                  Credit Cards
                </p>
              </a>
              
              <a href = "/insurance" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/insurance.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                  Insurance
                </p>
              </a>
              
              <a href = "buyingAHouse" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/house.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                  Buying A House
                </p> 

              </a>
            </div>

            <div class="col-4">
              <a href = "/creditScore" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/meter.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                  Credit Score
                </p>
              </a>
              
              <a href = "buyingACar" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/car.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                  Buying A Car
                </p>
              </a> 

              <a href = "taxes" class = "text-decoration-none">
                <p class = "text-center">
                  <img src="images/tax.svg" alt="image not found" width ="125rem" height = "125rem">
                  <br>
                   Taxes
                </p> 
              </a>
            </div>


        </div>

    </div>

  




  <%- include('includes/footer')%>