<%- include('includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4">

            <h1>Insurance</h1>
            <p class = "lead"> by Monica Sanchez</p>

            <hr>

            <p>Posted on August 29, 2020</p>

            <hr>

            <img class="img-fluid rounded" src="https://www.murrayins.com/wp-content/uploads/2015/06/insurance_solution_large.jpg" alt="">

            <hr>

            

            <p>
                <h4><a class = "anchor" id ="nutshell"></a> Insurance in a nutshell</h4>
                General insurance helps us protect ourselves and the things we value, such as our homes, our cars and our valuables, from the 
                financial impact of risks, big and small – from fire, flood, storm and earthquake, to theft, car accidents, travel mishaps – and
                even from the costs of legal action against us. And we can choose the types of risks we wish to cover by choosing the right kind 
                of policy with the features we need.
            </p>


         
            <p>
                <h4><a class = "anchor" id = "help"></a>How insurance can help you</h4> 
                General insurance protects you and your assets from the financial risk of something going wrong. It can’t stop something happening, 
                but if something unexpected does happen that is covered by your policy it means you won’t have to pay the full cost of a loss. That 
                means that if something goes wrong, you’re much less likely to have to raid your savings or your investments, borrow money, ask family 
                or friends for financial help, or sell your assets to pay for repairs, building or outstanding debts. You won't have to rely on assistance 
                from governments and community groups that usually only help in disaster situations such as floods or bushfire where the assistance might 
                not reflect the extent of your loss and so may not help you to rebuild your life. When you take out an insurance policy, you need to do some 
                thinking about what is important to you, and how much you are willing to put aside to protect those things if you were faced with their loss.
                Most people are willing to pay an insurance premium to protect things such as their home and its contents, their car, boat or caravan. Business 
                owners will usually also take out insurance cover to protect assets and stock, and to provide financial help if they face legal issues. Choosing 
                an insurance policy is a matter of identifying what’s important to you. Some forms of insurance are compulsory. For instance, state and territory 
                governments require car owners to buy mandatory motor vehicle accident personal injuries insurance when they register their cars to protect any person 
                they might injure while they are driving. Business owners have to pay premiums into their state or territory workers’ compensation scheme for their 
                employees. And property owners taking out a home loan with less than a 20 per cent deposit may be required by their lender to buy Lenders Mortgage Insurance.
                You should consider general insurance when the cost of a particular financial risk is much greater than the cost of protecting yourself against that risk.
                A risk must be able to be valued in monetary terms for it to be included in an insurance policy. It must also be an uncertain risk, something that we can’t 
                be sure will happen. You must also have a direct interest in any loss that you insure against. You can’t take out house and contents insurance on the home of 
                your neighbour, for example. 


            </p>
            <p>
                <h4><a class = "anchor" id = "calculating"></a> Calculating Premiums</h4>
                Insurers each make their own commercial decisions when deciding how much to charge each person who wants to cover certain risks for something valuable to them.
                For example, when you apply to insure your car for a comprehensive or a third party property policy the insurer will decide how much that particular car is worth 
                (market value) and what risks are worth insuring. The insurer may also allow you to nominate the insured value of the vehicle. Insurers refer to data when they make 
                these decisions. If the car is kept in a suburb with higher rates of car theft, you will be given a higher level of risk (and therefore may pay a higher premium) than 
                someone whose car is kept in a place where car theft rates are low. Insurers may also look at other issues such as the driver’s age, their sex and claims history. This 
                is because some demographics are statistically more likely to make a claim on their policy than others. Yet another factor that influences risk is the driver’s personal 
                driving record. Most insurers will take into account whether you have been at fault in other accidents or whether you have been penalised for speeding, drink driving, or 
                other traffic offences. All of these factors will help insurers work out an appropriate premium. Insurers must also decide how much coverage will be offered (unless you 
                nominate a value) and in some circumstances may not offer insurance if the insurer believes the risk is too high. However, you must agree to all the terms of the policy 
                when seeking the insurance cover, including the extent of cover and any terms and conditions, or the insurer will not offer it. You may also have a choice about some aspects 
                of the policy, such as the amount of excess and optional extras. Similar principles are used in calculating premiums for all types of insurance.
            </p>

            <p>
              <h4><a class = "anchor" id = "change"></a>Why do premiums change?</h4>
              Your premium is likely to change each time you renew your insurance, even if your personal circumstances don’t appear to have changed. This is because premiums are affected by 
              many factors, including the cost of doing business and changes to the way your risk has been assessed. Sometimes premium prices will go up across the board, and sometimes your 
              own premium might go up because your level of risk has increased. But if something helps to reduce the risk, this may be taken into account with a lower premium. There are a few 
              different reasons your premium may change, including: Inflation. Insurers will often adjust premiums to keep pace with inflation Changes in government taxes and any state or territory 
              duties or levies A reassessment of your individual risk by your insurer, especially following a claim or a natural disaster, or fresh information from government or an expert
              Changes you make that reduce your risk, such as installing a home alarm system The number of claims experienced in that sector of the insurance industry
              Large-scale claims due to natural disasters such as floods and cyclones Investment returns. Insurers invest premiums to help ensure they have sufficient capital to pay future claims. 
              Poor returns may require a lift in premiums Regional or global changes that affect the price and availability of reinsurance The value or quantity of what you are insuring may have changed
              The insurer’s cost of doing business If there has been an unusually high number of claims in the previous year (for example, following a big natural disaster such as a cyclone, flood or bushfire), 
              some insurers may need to increase premiums to restore the balance between the pool of funds available to pay claims and the risk. Your own premium might also go up (or down) because of a change 
              in your risk. For example, if you received a speeding ticket or caused an accident, your insurance premium may go up at the time of renewing your policy (you are obliged to inform your insurer of 
              these matters – see duty of disclosure). Receiving a renewal notice of a higher premium might prompt you to go searching for alternative policies which might offer cheaper premiums. It's important 
              to regularly review and renew your insurance. When buying insurance it is important to shop around to get the best policy for you, particularly if your own circumstances have changed over the year. 
              It is also worth considering whether there have been any changes in your circumstances which might let your current insurer charge you a lower premium.
              For instance, if you have fitted a car alarm to your car, it is worth checking whether your current insurer offers a premium discount. You can also ask you insurer about what you can do to lower 
              your premium.
          </p>

                
            
            



        </div>

        <div class="col-md-4 d-none d-lg-block">
            <div class="card my-4 fixed">
                <h5 class="card-header">Table of Contents</h5>
                <div class="card-body">
                 
                <ul>
                  <li><a href="#nutshell">Insrance in a nutshell.</a> </li>
                  <li><a href="#help">How insurace can help you.</a></li>
                  <li><a href="#calculating">Calculating premiums</a> </li>
                  <li><a href="#change">Why do premiums change?</a> </li>


                </ul>
                </div>
              </div>

        </div>

    </div>



</div>





<%- include('includes/footer')%>