<%- include('includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4">

            <h1>Renting</h1>
            <p class = "lead"> by Lily Hernandez</p>

            <hr>

            <p>Posted on September 8, 2020</p>

            <hr>

            <img class="img-fluid rounded" src="https://www.thinkglink.com/wp-content/uploads/2013/11/consider-when-renting-your-condo.jpg" alt="">

            <hr>

            

            <p>
                <h4><a class = "anchor" id ="budget"></a>Look for a place that fits your budget</h4>
                Renting your own place sounds easy, right? Just start searching on Apartments.com, take a tour or two, 
                and move in. But suppose after you move in, you discover you’re in over your head. After eating ramen for 
                every meal and keeping the lights off, you realize you can’t afford your new place! What went wrong? You had
                a budget. Okay, you went slightly above, but those floor-to-ceiling windows … you fell in love at first sight 
                and decided you’d make it work somehow. You’ve committed the fatal mistake of looking at apartments out of your 
                budget … every place after “the dream apartment” will pale in comparison. Save future you from a year of ramen! 
                Before you start looking, make a budget and stick to it. Here’s the golden rule: If you can’t afford the rent, 
                don’t look at the apartment
            </p>


         
            <p>
                <h4><a class = "anchor" id = "know"></a> Know your credit score </h4> 
                Do you know what your credit score is? If you don’t, find out – you can do this for free through annualcreditreport.com. 
                If you have bad credit or no credit, the property manager could refuse you -- or they could increase the security deposit 
                based on your credit score. If this is the case, you might want to consider a cosigner. Wait. What’s a cosigner? A cosigner 
                is someone who signs your lease along with you, guaranteeing that if you don’t pay your rent, he or she will take responsibility. 
                They don’t live in your apartment, they just assume your debt. Being a cosigner for someone is a major commitment, so make sure you 
                have all of your facts and figures (your detailed budget from above, for example) when you approach someone and ask them to do this. 
                Typically, a family member or a close friend will act as a cosigner.

            </p>
            <p>
                <h4><a class = "anchor" id = "roomate"></a> Shoud I get a roomate?</h4>
                If, after crunching the numbers and analyzing your credit, you determine that you won’t be able to do this alone, you might want to 
                consider getting a roommate. On the one hand, having someone to split the costs can lessen the burden of renting and make life just a 
                little bit easier financially. But living with another person can present an entirely new set of challenges, especially if you don’t 
                particularly like their quirks and habits. If you do decide to get a roommate, the landlord may want you both on the lease – and they 
                will likely check both of your credit histories. Also, know this: the landlord might increase the rent due to the roommate's additional 
                "wear and tear" on the apartment. They can also increase your security deposit, so be sure to ask about the apartment community's policy 
                concerning roommates so there aren't any surprises.
            </p>

            <p>
              <h4><a class = "anchor" id = "office"></a> Heading to the leasing office.</h4>
              Now that you’ve found a place within your budget that has the amenities you need, it’s time to sit down with the leasing agent. You’ll want to 
              bring some things along with you, such as a payment stub, reference letters, and your checkbook. Did you know that a typical security deposit 
              could be up to two months' rent? In addition, many apartment communities charge rent for the first and last month – in advance. Make sure you've 
              saved up three times your monthly rent, plus moving expenses, before you sit down with the leasing agent. You can negotiate your lease! Be prepared 
              – research similar rentals in the neighborhood to see what the price difference is. If your timing is flexible, try to rent near the end of the month 
              – landlords are more likely to make a deal then. You might also have more negotiating power if you move during the winter, when fewer people are looking 
              for apartments, as opposed to the summer. If you plan on staying in your apartment long-term, ask the property manager if you could sign a longer lease 
              for lesser rent. If the landlord won’t negotiate on rent, you could ask for other things – a freshly painted apartment, new flooring, or a better parking 
              spot. Read your lease. It’s long, it’s boring, it’s filled with rental legalese, but take the time to actually read it. Make sure you understand it, and 
              don’t be afraid to ask questions about the lease – especially any items you don’t understand or want more information about. Once you sign on the dotted 
              line, you’ll get the keys to your new place! And since you know exactly what the terms of your lease agreement are and you’ve created a budget that works, 
              you’ll live happily ever after – or, at least, until it’s time to renew the lease. 
          </p>

                
            
            



        </div>

        <div class="col-md-4 d-none d-lg-block">
            <div class="card my-4 fixed">
                <h5 class="card-header">Table of Contents</h5>
                <div class="card-body">
                 
                <ul>
                  <li><a href="#budget">Look for a place that fits your budget.</a> </li>
                  <li><a href="#know">Know your credit score?</a></li>
                  <li><a href="#roomate">Should I get a roomate?</a> </li>
                  <li><a href="#office">Heading to the leasing office.</a> </li>


                </ul>
                </div>
              </div>

        </div>

    </div>



</div>





<%- include('includes/footer')%>