<%- include('includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4">

            <h1>Saving and Investing</h1>
            <p class = "lead"> by Sylvia San Martin</p>

            <hr>

            <p>Posted on August 29, 2020</p>

            <hr>

            <img class="img-fluid rounded" src="https://catanacapital.com/wp-content/uploads/2019/03/Financial_Investment_Concept-780x438.jpg" alt="">

            <hr>

            

            <p>
                <h4><a class = "anchor" id ="compound"></a> Compound Interest</h4>
                Compound interest is a very powerful tool for making your money grow, and involves earning interest on interest you have already received. 
                Let's say you put $1,000 in a savings account that pays 5% interest. At the end of the year, you will have received $50 in interest. Now 
                you have $1,050. ($1,000 x 5% = $50). In the second year, you will earn 5% on $1050, or $52.50. Notice that your money grew faster. You 
                made $50 in the first year, and $52.50 in the second. This is how compounding works. The longer the money stays in the savings account, 
                the faster it will continue to grow, so it is a good idea to start a savings plan as soon as you can.
            </p>


         
            <p>
                <h4><a class = "anchor" id = "rule"></a> The Rule of 72
                </h4> 
                If you had $1,000 lying around, decided to put it into an account and never made another deposit, in a certain amount of time that money 
                would double. That is the cool aspect of compound interest. By using the Rule of 72, we can see how long it will take to double your money. 
                All you have to do is divide 72 by the interest rate the account was paying. Sounds simple, so let's check it out. If you look at an account 
                that earns 4% on your money, you would do the math as follows: 72/4 = 18. It would take you 18 years to double your money

            </p>
            <p>
                <h4><a class = "anchor" id = "risk"></a>Risk and return</h4>
                There are many ways to save money and build wealth, some of them riskier than others. The more risk, the more potential you have to build wealth. 
                As an example, let us compare two ways to make your money grow: a savings account and a stock. A savings account has very little risk; the money you 
                put into it is insured by the FDIC and you have very little chance of losing your money. On this type of account, you would probably earn about 1.5% 
                interest. Stocks, on the other hand, are very risky. There are many factors that can cause you to lose your money. Because of the high risk, over time
                you could probably earn an average of between 10% and 11% in interest. By using the Rule of 72, let us see how long it would take to double $1,000 in 
                a savings account versus investing in a stock. In a savings account you would earn 1.5% interest, so you would do the math as follows: 72/1.5 = 48 years. 
                Investing in a stock, you would earn about 11% interest so, 72/11 = 6.5 years. As you can see, more risk definitely equals more return.
            </p>

            <p>
              <h4><a class = "anchor" id = "diversify"></a>Diversify</h4>
              Putting all your eggs in one basket is not a good idea. With the high risk of investments, you really do not want to put all your cash into the stock market. 
              Why? Well, the market is volatile and no stock is a sure thing. If you put all your money here and you lose it, you are done. By spreading your money out between 
              both low- and high-risk items, you do not risk losing everything if your investment goes south.
            </p>

            <p>
              <h4><a class = "anchor" id = "tax"></a>The taxman and inflation</h4>
              There are two more hurdles you must take into consideration: taxes and inflation. You will pay taxes on any interest earnings you make. These taxes are used on both 
              the Federal and State levels to fund the government. Depending on your tax bracket, you could contribute as much as 30% of your earnings to taxes. Inflation saps the 
              growth of your money because in inflationary periods, the value of money decreases over time. Essentially, inflation occurs when the prices of goods and services rise. 
              These prices rise because of supply and demand within our economy, but this is not an economics lesson, so let's forge ahead. Historically, inflation has grown at a rate 
              of 3% each year. Let's look at an example. Say you bought a soda today for $1. Next year that soda may cost you $1.03. In ten years that soda might cost you $1.30. This 
              will hurt you if you are not getting a greater return on the money you have in the bank. If you were earning 2% interest, your money would be growing at a rate 1% behind 
              inflation. If you saved the dollar for soda and were earning 2% interest on it, next year that dollar would be worth $1.02, in ten years that dollar would be worth $1.20.
              When you want your money to grow, you have to be sure that the return, or interest, will be greater than the taxes you will pay and that your interest rate is always higher 
              than the rate of inflation.

            </p>

            

                
            
            



        </div>

        <div class="col-md-4 d-none d-lg-block">
            <div class="card my-4 fixed">
                <h5 class="card-header">Table of Contents</h5>
                <div class="card-body">
                 
                <ul>
                  <li><a href="#compound">Compound Interest</a> </li>
                  <li><a href="#rule">The Rule of 72</a></li>
                  <li><a href="#risk">Risk and return</a> </li>
                  <li><a href="#diversify">Diversify</a> </li>
                  <li><a href="#tax">The taxman and inflation</a> </li>


                </ul>
                </div>
              </div>

        </div>

    </div>



</div>





<%- include('includes/footer')%>