<%- include('includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-4">

            <h1>Taxes</h1>
            <p class = "lead"> by Jacob Rodriguez</p>

            <hr>

            <p>Posted on August 29, 2020</p>

            <hr>

            <img class="img-fluid rounded" src="https://www.investopedia.com/thmb/HKhBJMp3Zmn0Eb9tCFSpAe0-bo8=/1500x1000/filters:fill(auto,1)/GettyImages-1030831244-4279d87f1272423288e24a9ed9925c80.jpg" alt="">

            <hr>

           

            <p>
            <h4><a class = "anchor" id = "what"></a>What are taxes?</h4>
            Taxes are involuntary fees levied on individuals or corporations and enforced by a government entity—whether local, 
            regional or national—in order to finance government activities. In economics, taxes fall on whomever pays the burden 
            of the tax, whether this is the entity being taxed, such as a business, or the end consumers of the business's goods.
            </p>


            <h4><a class = "anchor" id = "understanding"></a>Understanding Taxes</h4>
            <p>
              To help fund public works and services—and to build and maintain the infrastructures used in a country—the government usually 
              taxes its individual and corporate residents. The tax collected is used for the betterment of the economy and all living in it. 
              In the U.S. and many other countries in the world, taxes are applied to some form of money received by a taxpayer. The money could 
              be income earned from salary, capital gains from investment appreciation, dividends received as additional income, payment made for 
              goods and services, etc. A percentage of the taxpayer’s earnings or money is taken and remitted to the government. Payment of taxes 
              at rates levied by the state is compulsory, and tax evasion—the deliberate failure to pay one's full tax liabilities—is punishable by law. 
              Most governments use an agency or department to collect taxes; in the United States, this function is performed by the Internal Revenue Service 
              (IRS).
              
              
              <p>There are several very common types of taxes:</p>
              <ul>
                <li>Income Tax—a percentage of individual earnings filed to the federal government</li>
                <li>Corporate Tax—a percentage of corporate profits taken as tax by the government to fund federal programs.</li>
                <li>Sales Tax—taxes levied on certain goods and services</li>
                <li>Property Tax—based on the value of land and property assets</li>
                <li>Tariff—taxes on imported goods imposed in the aim of strengthening internal businesses</li>
                <li>Estate tax—rate applied to the fair market value of property in a person's estate at the time of death</li>
             
              </ul> 
              
              Tax systems vary widely among nations, and it is important for individuals and corporations to carefully study a new locale's tax laws before earning income or doing business there. 
            </p>


            <h4><a class = "anchor" id = "us"></a>Taxes in the U.S.</h4>
            <p>
              Like many nations, the United States has a progressive tax system, not a regressive one, through which a higher percentage of tax 
              revenues are collected from high-income individuals or corporations rather than from low-income individual earners. Taxes are imposed 
              at federal, state, and local levels. Generally speaking, the federal government levies income, corporate and payroll taxes; the state 
              levies sales taxes; and municipalities or other local governments levy property taxes. Tax revenues are used for public services and 
              the operation of the government, as well as for the Social Security and Medicare programs. As baby boomer populations have aged, Social 
              Security and Medicare have claimed increasingly high proportions of the total federal expenditure of tax revenue. Throughout United States 
              history, tax policy has been a consistent source of political debate. Capital gains taxes are of particular relevance for investors. Levied 
              and enforced at the federal level, these are taxes on income that results from the sale of assets in which the sale price was higher than the 
              purchasing price. These are taxed at both short-term and long-term rates. Short-term capital gains (on assets sold less than a year after they 
              were acquired) are taxed at the owner's normal income rate, but long-term gains on assets held for more than a year are taxed at a lower rate, 
              on the rationale that lower taxes will encourage high levels of capital investment. Tax records should be maintained depending on the type of record. Taxes are applied through tax rates.

            </p>
            <h4><a class = "anchor" id = "income"></a>How income taxes work</h4>
            <p>
              Taxes are imposed depending on a variety of factors, including the taxpayer's filing status—married filing jointly, married filing separately, 
              single or head of household. Which status a person has can make a significant difference in how much they are taxed. The source of a taxpayer's 
              income also makes a difference in taxation. It's important to learn the terminology of the different income types and other categories that affect 
              how income is taxed. Learning this information enables taxpayers to manage their finances for the best outcome on their net yearly income. Techniques 
              that can help include annual tax-loss harvesting to offset investing gains with investing losses and estate planning that works to shelter inherited 
              income for heirs.
            </p>
    

          

           
        

                

            

            </div>
         
            

                
            
            



        

        <div class="col-md-4 d-none d-lg-block">
            <div class="card my-4 fixed">
                <h5 class="card-header">Table of Contents</h5>
                <div class="card-body">
                
                <ul>
                    <li><a href = "#what">What are Taxes?</a></li>
                    <li><a href = "#understanding">Understanding Taxes</a></li>
                    <li><a href = "#us">Taxes in the U.S.</a></li>
                    <li><a href = "#income">How income taxes work</a></li>
                    
                 


                </ul>
                </div>
              </div>

        </div>

    </div>



</div>





<%- include('includes/footer')%>